[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Gerdovci
[access "refs/for/refs/*"]
	read = group user/Gerdovci
	push = group user/Gerdovci
	label-Code-Review = -2..+2 group user/Gerdovci
	label-Verified = -1..+1 group user/Gerdovci
	rebase = group user/Gerdovci
	removeReviewer = group user/Gerdovci
	submit = group user/Gerdovci
[access "refs/heads/*"]
	read = group user/Gerdovci
	create = group user/Gerdovci
	push = +force group user/Gerdovci
	pushMerge = group user/Gerdovci
[access "refs/tags/*"]
	push = group user/Gerdovci
	push = +force group user/Gerdovci
